/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2016, 8:15:36 PM
    Author     : Corey
*/

.root {
     -fx-background-image: url("/Images/GoBoard9x9.png");
     -fx-background-size: cover;
}