/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2016, 1:47:08 PM
    Author     : Khang
*/

.root {
     -fx-background-image: url("/Images/woodbg.jpg");
     -fx-background-size: cover;
}
#about-text {
   -fx-font-size: 21px;
   -fx-font-family: "Tahoma";
   -fx-fill: "Maroon";
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}


