/**
 * Project: Go Game for Software Engineering Management
 * File: mainmenustyle.css
 * Author: Lauren Jones
 * Date: 11/2/2016
 * Comments:
 */

#anchor {
	-fx-background-image: url("/Images/woodbg.jpg");
}
#vertBox {
	-fx-background-image: url("/Images/bamboo.png"), url("/Images/gamelogo.png");
	-fx-background-position: top left;
	-fx-background-repeat: no-repeat;
	-fx-background-size: 260 390
}
.button{
	-fx-font-family: papyrus;
	-fx-background-color: linear-gradient(to bottom right, ghostwhite, darkgray);
	-fx-font-size: 17px;
}
.button:hover {
    -fx-background-color: linear-gradient(deepskyblue, white);
}
