/**
 * Project: Go Game for Software Engineering Management
 * File: tutorialstylesheet.css
 * Author: Lauren Jones
 * Date: 11/2/2016
 * Comments:
 */

#anchor {
	-fx-background-image: url("woodbg.jpg");
}


#menubutton{
	-fx-font-family: papyrus;
	-fx-background-color: linear-gradient(to bottom right, ghostwhite, darkgray);
	-fx-font-size: 13px;
}
#levelbutton{
	-fx-background-color: linear-gradient(to bottom right, white, deepskyblue);
	-fx-background-radius: 10px;
	-fx-font-family: papyrus;
	-fx-font-size: 12.5px;
}
